

.sub-heading{

  color: #c3a6a0;
}

.main {
  background-color: #ffffff;
}
.main-img h2{
    font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.project-phase h4{
  height: 50px;
}
.main-img {
  height: 90vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: cover;
  background-image: url(../../asset/hero.jpg);
  background-color: #43759414;
  background-blend-mode: luminosity;
}
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;700&family=Roboto&display=swap");

.text h1,
.text h2 {
  font-family: "Libre Baskerville", serif;
  font-size: calc(2rem + 2vw);
  font-weight: 900;
  opacity: 0.8;
  color: #a15c38;
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
}

.text h2 {
  font-size: calc(2rem + 2.5vw);
}
.text p, {
  font-size: calc(1rem + 1vw);
  font-weight: 100;
  letter-spacing: 2px;
    font-family: "Lora", serif;

}
.input-content h4,.main-input label{
  font-family: "Lora", serif;
}
.input-content p{
  font-family: "Lato", serif;
}
.about a {
  text-decoration: none;
}
.text a button,
.cv button,
.mailbtn {
  text-decoration: none;
  height: 40px;
  min-width: 140px;
  padding: 5px 10px;
  border-radius: 50px;
  border: none;
  background-color: #a15c38;
  color: #f7f1f0;
  letter-spacing: 1px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.473) 0px 20px 20px -17px;
  transition: all 0.8s;
}

.text a button:hover,
.cv button:hover,
.mailbtn:hover {
  background-color: #e25238;
}

.about {
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8% 0%;
  background-color: #f7f1f0;
}
.about img {
  width: 430px;
}
.about p {
  margin-top: 20px;
}
.about h5 {
  font-weight: 400;
  font-size: 18px;
  color: #212529;
}
.about span {
  color: rgb(11, 170, 255);
}
.about h1,
.structure h1,
.project-phase-h1,
.parent-skill-set h1,
.works h1,
.parent-form h2 {
  font-family: "Libre Baskerville", serif;
  font-size: calc(2rem + 2vw);
  text-align: center;
  font-weight: 900;
  color: #a15c38;
}
.structure h1{
font-size: calc(1.3rem + 1.3vw);
}
.parent-form h2 {
  font-size: calc(2rem + 1vw);
}
.about h1 {
  text-align: start;
}
.about strong {
  font-family: "Lora", serif;
  color: black;
}
.about p {
  font-family: "Lato", serif;
/*  font-size: 15px;*/
}

.works h2 {
  font-family: "Baloo Paaji 2", cursive;
  font-size: calc(1rem + 1vw);
  color: black;
  font-weight: 600;
  letter-spacing: 1px;
}
/**************.project-phase*******************  */
.main-project-phase {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.project-back {
  position: absolute;
  z-index: -1;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  opacity: 0.2;
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210727/pngtree-orange-yellow-abstract-curve-gradient-background-image_751995.jpg);
}
.mainss {
  position: relative;
  z-index: 1;
}
.project-phase {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project-phase-child {
  min-width: 270px;
  height: 200px;
  border-radius: 25px;
  text-align: center;
}
.project-phase .project-phase-child:nth-child(1) {
  background-color: #FADBD8;
}
.project-phase .project-phase-child:nth-child(3) {
  background-color: #D6EAF8;
}
.project-phase .project-phase-child:nth-child(5) {
  background-color: #E8DAEF;
}
.project-phase-child h4 {
  font-family: "Baloo Paaji 2", cursive;
  font-weight: 900;
  margin-top: 20px;
  letter-spacing: 0.5px;
  font-size: 1.8rem;
}
.project-phase-img {
  width: 180px;
  height: 150px;
  object-fit: contain;
  margin-top: -80px;
}
.project-phase-child img {
}
.project-phase .arrow {
  width: 100px;
  padding: 10px;
  animation: arrow 3s infinite;
}

@keyframes arrow {
  0% {
    transform: translateX(-20px) rotate(180deg);
  }
  100% {
    transform: translateX(25px) rotate(180deg);
  }
}
@media screen and (max-width: 832px) {
  .works-back {
  }
  .project-phase {
    flex-direction: column !important;
  }
  .project-phase div {
    margin: 70px 0px 40px 0px;
  }

  @keyframes arrow {
    0% {
      transform: translateY(-20px) rotate(270deg);
    }
    100% {
      transform: translateY(20px) rotate(270deg);
    }
  }
}
@media screen and (max-width: 991px) {
  .project-phase .arrow {
    width: 100px !important;
  }
}
@media screen and (max-width: 980px) {
  .main-works {
  }
  .works-back {
  }
}

.parent-skill-set {
  background-color: #f7f1f0;
  padding: 5% 0%;
}

.skills-img img {
  width: 180px;
}
.parent-skill-set h4 {
  color: #a15c38;
}
.container {
  padding: 0;
  margin: 0;
}
.progress2 {
height: 32px;
  position: relative;
  padding: 6px;
  border-radius: 30px; /* Add this line to make it rounded */
  background: #EAEDED;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
  color: black;
}

.progress-moved {
  position: relative;
  z-index: 1;
}
.progress-moved p {
  padding: 0;
  margin-top: -3px;
  text-align: center;
  font-weight: 500;
  color: white;
  font-size: 16px;
}
.progress-moved p:nth-child(2) {
  font-weight: 500;
  color: black;
  margin-left: -8px;
}
.html,
.css,
.sass,
.bootstrap,
.media,
.seo,
.js,
.ts,.ms,.pw {
  position: absolute;
  z-index: -1;
  height: 19px;
  margin-top: 1px;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  transition: 0.4s linear;
  transition-property: width, background-color;
  background-color: #a15c38;
}
.html,.ts,.ms
 {
  width: 90%;
  animation: html 6s;
}
@keyframes html {
  0% {
    width: 5%;
    background-color: #f7f1f0;
  }
  100% {
    width: 90%;
    background-color: #c3a6a0;
  }
}
.css,
.media,.js {
  width: 80%;
  animation: css 6s;
}
@keyframes css {
  0% {
    width: 5%;
    background-color: #f7f1f0;
  }
  100% {
    width: 80%;
    background-color: #c3a6a0;
  }
}
.bootstrap,.sass {
  width: 85%;
  animation: js-ts 6s;
}
@keyframes js-ts {
  0% {
    width: 5%;
    background-color: #f7f1f0;
  }
  100% {
    width: 85%;
    background-color: #c3a6a0;
  }
}

.seo {
  width: 70%;
  animation: seo 6s;
}
@keyframes seo {
  0% {
    width: 5%;
    background-color: #f7f1f0;
  }
  100% {
    width: 70%;
    background-color: #c3a6a0;
  }
}

.pw {
  width: 70%;
  animation: pw 6s;
}
@keyframes pw {
  0% {
    width: 5%;
    background-color: #f7f1f0;
  }
  100% {
    width: 70%;
    background-color: #c3a6a0;
  }
}

.works-back {
  position: absolute;
  z-index: -1;
  background-attachment: fixed;
  width: 100%;
  min-height: 102%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  background-image: url("../../asset/client.jpg");
}
.main-works {
  height: 100%;
  position: relative;
}

.project-works h4 {
  margin-top: 20px;
  font-size: 17px !important;
  color: black;
}
.project-works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.child-project-works {
  border-radius: 12px;
  overflow: hidden;
  width: 230px;
  height: 150px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.child-project-works img {
  object-fit: center;
  width:100%;
  height: 100%;
  background-color: #e8e7e7;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
.child-project-works:hover {
  transition: all 1s;
  transform: translateY(-10px);
}
.child-project-works:hover img {
  transform: scale(1.11);
}

@media screen and (max-width: 576px) {
  .project-works h4 {
    margin-top: 10px !important;
  }
  .navbar,
  .offcanvas-header {
    height: 65px;
  }
  .navbar img {
    width: 50px !important;
  }
  .main-img {
    height: 80vh;
  }
  .about img {
    width: 250px;
  }
  .main-project-phase h1 {
    padding: 80px 0px 0px 0px !important;
  }
  .parent-skill-set h1 {
    padding: 70px 0px 0px 0px !important;
  }
  .works h1 {
    padding: 60px 0px 0px 0px;
  }

  .child-project-works {
    width: 150px;
    height: 170px;
  }
  .child-project-works img {
    width: 150px;
    height: 170px;
  }

  .skill-set-content {
    text-align: center;
  }
}

.parent-form {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.parent-form p {
  color: #575757;
}
.main-input {
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  justify-content: space-between;*/
}
.main-input div {
  margin:5px 0px;
}
.main-input div input,
.main-input div textarea {
  border-radius: 3px;
  outline: none;
  border: 1px solid rgb(170, 170, 170);
  padding: 8px;
}
.main-input div textarea {
  height: 80px;
}



/*****************************************************/
.work-img{
  height: 350px;
  width: 350px;
  object-fit: contain;
}

.structure{
  background-image: url(../../asset/Rectangle 1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.parent-form {
  background-color: #f7f1f0;
}

.parent-form input,textarea{
  border-radius: 10px !important;
}

.scroll-img {
  height: 450px;
  overflow: hidden;
}

.scroll-img{
  position: relative;
  height: 450px;
  width: 100%;
  border: 2px solid #eee;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.scroll-img .wave img{
 height: 600px;
 width: 100%;
 position: absolute;
 z-index: -1  ;
 top: -15%;
 left: 0;
}
.scroll-img .logos{
  padding: 100px;
  position: absolute;
  top: -3%;
  left: 0;
  display: flex;
  width: 200%;
  margin: 70px 0;
  animation: marquee 10s linear infinite;
}
.scroll-img .logos img{
 height: 100px;
 width: 100px;
    background: ;
  border-radius: 50px;
  display: inline-block;
  margin: 0 24.7px;
  float: left;
  transition: all .1s;
  object-fit: cover;
  background-color: white;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
