:root {
  /* --primary-color: #ef9273; */
  --primary-color: #089ba5;
  --secondary-color: #ffffff;
  --third-color: #1e7db2;
  --fourth-color: #f13a12;

  --text-color-white: #ffffff;
  --text-color-black: #000000;
}
