/* .parent-progress .container .progress-moved .progress-bar2:nth-child(3) {
  width: 75%;
  background-color: #ef476f;
  animation: progressAnimation 6s;
}
.parent-progress .container .progress-moved .progress-bar2:nth-child(4) {
  width: 15%;
  background-color: #490716;
} */
